.profiles {
  background-image: url("https://en.gfwiki.com/images/8/86/BG_homescreen.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5vh 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  justify-items: center;
  grid-gap: 2vw;

  .profileCard {
    @include card-styles;

    .profile-image {
      border: 1px solid black;
      width: 90px;
      height: 90px;
      border-radius: 50px;
      img {
        height: inherit;
        width: inherit;
        border-radius: 50px;
        position: absolute;
      }
    }
  }
}
